.star {
  z-index: 1;
  position: relative;
  width: 2rem;
}
.star.star-shadow {
  left: 15px;
  top: 10px;
  z-index: 0;
  filter: brightness(1.2) blur(1px) brightness(0) opacity(0.5);
  position: absolute;
}

.glass-card .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
