@import "custom";

// Status Badges
.bg-Dead {
  @extend .bg-danger;
}
.bg-Alive {
  @extend .bg-success;
}
.bg-unknown {
  @extend .bg-secondary;
}

body {
  font-family: "NewYork";
  background-image: linear-gradient(to right, #8e2de247, #4a00e066), url("./assets/Rick-and-morty.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
p,
span {
  font-family: "cream";
}

// Scrollbars
body::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(193, 162, 243, 0.3);
  background-color: #dacbf0f3;
}
body::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 10px;
  background-color: #f5effd;
}
body::-webkit-scrollbar-thumb {
  // background-image: linear-gradient(to bottom, #3c18a0, #3c18a0c0, #3400e071, #5318db6e);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(136, 122, 217)),
    color-stop(0.72, rgb(90, 73, 189)),
    color-stop(0.86, rgb(70, 36, 149))
  );
}
select::-webkit-scrollbar-thumb {
  background: blueviolet;
}

// Glassmorphism
.glass-card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: #111928b0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.glass-title {
  @extend .glass-card;
  width: 15rem;
}

// Spinner
.center-spinner {
  top: 50vh;
  left: 50%;
  div {
    margin-left: -50%;
  }
}
.input-spinner {
  right: 13px;
  background-color: rgba(241, 241, 241, 0.733);
  opacity: 85%;
}

// Main Container
.min-h80 {
  min-height: 80vh;
}

// Fonts
@font-face {
  font-family: "NewYork";
  src: url("./assets/KGEverSinceNewYork.ttf") format("truetype");
}
@font-face {
  font-family: "cream";
  src: url("./assets/cream-DEMO.ttf") format("truetype");
}
