$body-bg: #44c0b54d;
// $body-bg: hsla(266, 61%, 50%, 0.129);

$primary: #a247bb;
$success: rgb(14, 128, 67);
$danger: rgb(201, 53, 27);
$secondary: rgb(101, 125, 173);

@import "~bootstrap/scss/bootstrap";

h5, .h5{
  font-size: 1.5rem;
}

:root {
  --bs-primary: #31c204;
}
